body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  /* Superman-themed styles */
  background-image: url('superlogo3.png'); /* Replace with your image path */
  background-size: cover;
  color: #D8E7F9; /* Superman blue */
  text-align: center;
  padding: 50px 0; /* Adjust as needed */
  font-size: 3rem; /* Adjust the font size */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a subtle shadow */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}

img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}
